{% load static %}
<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer about">
                        <div class="logo">
                            <a href="{% url 'mainapp:index' %}"><img src="{{ footer.logo.url }}" alt="#"></a>
                        </div>
                        <p class="text">{{ footer.description }}</p>
                        <p class="call">Есть вопросы? Звоните нам!<span><a href="{{ footer.phone }}">{{ footer.phone }}</a></span>
                        </p>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Первый блок ссылок</h4>
                        <ul>
                            <li><a href="#">Ссылка 1</a></li>
                            <li><a href="#">Ссылка 2</a></li>
                            <li><a href="#">Ссылка 3</a></li>
                            <li><a href="#">Ссылка 4</a></li>
                            <li><a href="#">Ссылка 5</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Второй блок ссылок</h4>
                        <ul>
                            <li><a href="#">Ссылка 1</a></li>
                            <li><a href="#">Ссылка 2</a></li>
                            <li><a href="#">Ссылка 3</a></li>
                            <li><a href="#">Ссылка 4</a></li>
                            <li><a href="#">Ссылка 5</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer social">
                        <h4>Будьте на связи!</h4>
                        <!-- Single Widget -->
                        <div class="contact">
                            <ul>
                                <li>{{ footer.address }}</li>
                                <li>{{ footer.email }}</li>
                                <li>{{ footer.phone }}</li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                        <ul>
                            <li><a href="{{ footer.facebook }}"><i class="ti-facebook"></i></a></li>
                            <li><a href="{{ footer.twitter }}"><i class="ti-twitter"></i></a></li>
                            <li><a href="{{ footer.youtube }}"><i class="ti-youtube"></i></a></li>
                            <li><a href="{{ footer.instagram }}"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->
    <div class="copyright">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="left">
                            <p>{{ footer.copyright }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>