{% extends 'admin_wrapper.html' %}
{% block title %}Ошибка{% endblock %}
{% block content %}

    <div class="container-fluid index">
        {% include 'blocks/admin_header.html' %}
        <div class="row">
            <div class="col-12 index__col">
                <div class="block-item">
                    <h1 class="text-center">Ой, что-то пошло не так</h1>
                    <div class="text-center">
                        <a href="{% url 'admin:index' %}" class="btn btn-primary">На главную</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}