{% extends 'admin_wrapper.html' %}
{% block title %}Справочник{% endblock %}
{% block content %}

    <div class="container-fluid index">
        {% include 'blocks/admin_header.html' %}
        <div class="row">
            <div class="col-12 index__col">
                <div class="block-item">
                    <ul>
                        <li class="d-flex pb-3">
                            <a href="{% url 'admin:measure_list' %}" class="btn btn-primary">Единицы измерения</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}