{% extends 'admin_wrapper.html' %}
{% block title %}Авторизация{% endblock %}
{% block content %}

    <div class="container-fluid index">
        {% include 'blocks/admin_header.html' %}
        <div class="row">
            <div class="col-12 index__col">
                <div class="block-item">
                    <h1>Панель управления</h1>
                    <p>Для настройки категорий и продуктов, используйте вкладку "Каталог"</p>
                    <p>Для настройки информации на страницах сайта (слайдеры, баннеры), используйте вкладку "Контент"</p>
                    <p>Для настройки текста на страницах - используйте вкладку "Страницы"</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}