{% extends 'admin_wrapper.html' %}
{% block title %}Настройка главной страницы{% endblock %}
{% block content %}

    <div class="container-fluid index">
        {% include 'blocks/admin_header.html' %}
        <div class="row">
            <div class="col-12 index__col">
                <div class="block-item">
                    <h1 class="d-inline-block">Настройка главной страницы</h1>
                    <a href="{% url 'admin:pages' %}" class="btn btn-primary d-inline-block mb-3">Назад</a>
                    <form class="w-50" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3>Настройка первого блока</h3>
                        <label for="firstblock_title" class="form-label">Заголовок</label>
                        <input type="text" class="form-control mb-3" name="firstblock_title" id="firstblock_title" value="{{ indexpage.firstblock_title }}">
                        <label for="firstblock_subtitle" class="form-label">Подзаголовок</label>
                        <input type="text" class="form-control mb-3" name="firstblock_subtitle" id="firstblock_subtitle" value="{{ indexpage.firstblock_subtitle }}">
                        <label for="firstblock_description" class="form-label">Описание</label>
                        <textarea name="firstblock_description" id="firstblock_description" cols="30" rows="10" class="form-control mb-3">{{ indexpage.firstblock_description }}</textarea>
                        <label for="firstblock_img" class="form-label">Изображение (1903 × 568 px)</label>
                        <input type="file" class="form-control mb-3" id="firstblock_img" name="firstblock_img">
                        <p>Текущее изображение</p>
                        <img src="{{ indexpage.firstblock_img.url }}" alt="" height="100px" class="d-block mb-3">
                        <h3>Настройка второго блока</h3>
                        <h4>Первый баннер</h4>
                        <label for="secondblock_first_first_title" class="form-label">Первый заголовок</label>
                        <input type="text" class="form-control mb-3" name="secondblock_first_first_title" id="secondblock_first_first_title" value="{{ indexpage.secondblock_first_first_title }}">
                        <label for="secondblock_first_second_title" class="form-label">Второй заголовок</label>
                        <input type="text" class="form-control mb-3" name="secondblock_first_second_title" id="secondblock_first_second_title" value="{{ indexpage.secondblock_first_second_title }}">
                        <label for="secondblock_first_subtitle" class="form-label">Второй заголовок</label>
                        <input type="text" class="form-control mb-3" name="secondblock_first_subtitle" id="secondblock_first_subtitle" value="{{ indexpage.secondblock_first_subtitle }}">
                        <label for="secondblock_first_link" class="form-label">Ссылка</label>
                        <input type="text" class="form-control mb-3" name="secondblock_first_link" id="secondblock_first_link" value="{{ indexpage.secondblock_first_link }}">
                        <label for="secondblock_first_img" class="form-label">Изображение (1903 × 568 px)</label>
                        <input type="file" class="form-control mb-3" id="secondblock_first_img" name="secondblock_first_img">
                        <p>Текущее изображение</p>
                        <img src="{{ indexpage.secondblock_first_img.url }}" alt="" height="100px" class="d-block mb-3">
                        <h4>Второй баннер</h4>
                        <label for="secondblock_second_first_title" class="form-label">Первый заголовок</label>
                        <input type="text" class="form-control mb-3" name="secondblock_second_first_title" id="secondblock_second_first_title" value="{{ indexpage.secondblock_second_first_title }}">
                        <label for="secondblock_second_second_title" class="form-label">Второй заголовок</label>
                        <input type="text" class="form-control mb-3" name="secondblock_second_second_title" id="secondblock_second_second_title" value="{{ indexpage.secondblock_second_second_title }}">
                        <label for="secondblock_second_subtitle" class="form-label">Второй заголовок</label>
                        <input type="text" class="form-control mb-3" name="secondblock_second_subtitle" id="secondblock_second_subtitle" value="{{ indexpage.secondblock_second_subtitle }}">
                        <label for="secondblock_second_link" class="form-label">Ссылка</label>
                        <input type="text" class="form-control mb-3" name="secondblock_second_link" id="secondblock_second_link" value="{{ indexpage.secondblock_second_link }}">
                        <label for="secondblock_second_img" class="form-label">Изображение (1903 × 568 px)</label>
                        <input type="file" class="form-control mb-3" id="secondblock_second_img" name="secondblock_second_img">
                        <p>Текущее изображение</p>
                        <img src="{{ indexpage.secondblock_second_img.url }}" alt="" height="100px" class="d-block mb-3">
                        <h4>Третий баннер</h4>
                        <label for="secondblock_third_first_title" class="form-label">Первый заголовок</label>
                        <input type="text" class="form-control mb-3" name="secondblock_third_first_title" id="secondblock_third_first_title" value="{{ indexpage.secondblock_third_first_title }}">
                        <label for="secondblock_third_second_title" class="form-label">Второй заголовок</label>
                        <input type="text" class="form-control mb-3" name="secondblock_third_second_title" id="secondblock_third_second_title" value="{{ indexpage.secondblock_third_second_title }}">
                        <label for="secondblock_third_subtitle" class="form-label">Второй заголовок</label>
                        <input type="text" class="form-control mb-3" name="secondblock_third_subtitle" id="secondblock_third_subtitle" value="{{ indexpage.secondblock_third_subtitle }}">
                        <label for="secondblock_third_link" class="form-label">Ссылка</label>
                        <input type="text" class="form-control mb-3" name="secondblock_third_link" id="secondblock_third_link" value="{{ indexpage.secondblock_third_link }}">
                        <label for="secondblock_third_img" class="form-label">Изображение (1903 × 568 px)</label>
                        <input type="file" class="form-control mb-3" id="secondblock_third_img" name="secondblock_third_img">
                        <p>Текущее изображение</p>
                        <img src="{{ indexpage.secondblock_third_img.url }}" alt="" height="100px" class="d-block mb-3">
                        <input type="submit" class="btn btn-success" value="Сохранить">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}