{% extends 'admin_wrapper.html' %}
{% block title %}{{ product.name }} - изменить{% endblock %}
{% block content %}

    <div class="container-fluid index">
        {% include 'blocks/admin_header.html' %}
        <div class="row">
            <div class="col-12 index__col">
                <div class="block-item">
                    <h1 class="d-inline-block">{{ product.name }} - изменить</h1>
                    <a href="{% url 'admin:product_list' %}" class="btn btn-primary d-inline-block mb-3">Назад</a>
                    <form class="w-25" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="name" class="form-label">Название</label>
                        <input type="text" class="form-control mb-3" name="name" id="name" value="{{ product.name }}">
                        <label for="slug" class="form-label">URL</label>
                        <input type="text" class="form-control mb-3" name="slug" id="slug" required value="{{ product.slug }}">
                        <label for="price" class="form-label">Цена</label>
                        <input type="number" class="form-control mb-3" name="price" id="price" value="{{ product.price }}">
                        <label for="subcategory" class="form-label">Укажите подкатегорию</label>
                        <select class="form-select mb-3" name="subcategory" id="subcategory">
                            {% for subcategory in subcategories %}
                                {% if subcategory.id == product.subcategory.id %}
                                    <option value="{{ subcategory.id }}" selected>{{ subcategory.name }}</option>
                                {% else %}
                                    <option value="{{ subcategory.id }}">{{ subcategory.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <div class="form-check mb-3">
                            {% if product.available == 1 %}
                                <input type="checkbox" class="form-check-input" name="available" id="available" checked value="True">
                            {% else %}
                                <input type="checkbox" class="form-check-input" name="available" id="available" value="True">
                            {% endif %}
                            <label for="available" class="form-check-label">Наличие:</label>
                        </div>
                        <div class="form-check mb-3">
                            {% if product.published == 1 %}
                                <input type="checkbox" class="form-check-input" name="published" id="published" checked value="True">
                            {% else %}
                                <input type="checkbox" class="form-check-input" name="published" id="published" value="True">
                            {% endif %}
                            <label for="published" class="form-check-label">Публикация на сайте:</label>
                        </div>
                        <label for="description" class="form-label">Описание</label>
                        <textarea class="form-control mb-3" name="description" id="description" rows="7">{{ product.description }}</textarea>
                        <input type="submit" class="btn btn-success" value="Сохранить">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}