{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Index{% endblock %}
{% block content %}
    {% include 'blocks/header.html' %}
    <div class="container-fluid mainblock">
        <div class="row">
            <div class="col-3">
                <h1 class="text-center menu">Menu</h1>
            </div>
            <div class="col-6">
                <h1 class="text-center">Conent</h1>
            </div>
        </div>
    </div>
    {% include 'blocks/footer.html' %}
{% endblock %}